<div style="line-height: 1.5; max-width: 768px; width: 100%; margin: auto; text-align: justify">
  <h2 style="text-align: center; text-transform: uppercase">CONFIRMATION D’ACTIVATION FINALE DE COMPTE</h2>
  <p>
    M. / Mme {{LASTNAME}} {{FIRSTNAME}} <br>
    <strong>Félicitation</strong>, vous avez terminé et validé toutes les phases d’enregistrement et d’identification
    sur la plateforme GALIO. Nous avons le plaisir de vous annoncer que votre compte est maintenant activé, et vous
    pouvez accéder aux autres fonctionnalités du portail déjà disponibles, telles que l'emploi du temps,ou les
    sessions de choix de cours que vous voudriez disposant pour l’année scolaire à venir (<strong>accessible via le
    second icône en forme de chapeau de diplômé, dans la barre de menus verticale rouge à gauche de votre écran</strong>),
    lorsqu'une session est ouverte.
  </p>
  Voici un petit rappel des boutons principaux sur l'interface de choix des cours:
  <ul>
    <li><strong>VIDER</strong> : vide votre liste de choix pour recommencer à zéro, et la sauvegarde vide</li>
    <li><strong>SAUVEGARDER</strong> : sauvegarde vos choix jusqu’à présent, pour pouvoir continuer maintenant ou
      plus tard lors d’une autre connexion. Mets à jour le récapitulatif dans l’onglet Activités Récentes
    </li>
    <li><strong>CLOTURER</strong> : sauvegarder et clôturer définitivement votre session de cours ! Vous ne pourrez
      plus choisir ou modifier vos choix après cela !
    </li>
  </ul>
  D’autres fonctionnalités seront disponibles au fur et à mesure pour diversifier les services qui vous seront
  proposés sur votre plateforme de self-service GALIO. <br>
  <strong>Cordialement !</strong>
  <br>
  <br>
  <hr>
  <h2 style="text-align: center; text-transform: uppercase">CONFIRMATION OF FINAL ACCOUNT ACTIVATION</h2>
  <p>
    M. / Mme {{LASTNAME}} {{FIRSTNAME}} <br>
    <strong>Congratulations</strong>, you have successfully achieved all the steps required for your complete
    registration procedure on GALIO. We are pleased to announce you that your account has been fully activated, and
    you can now access the other available features of the portal, such as your weekly schedule, or the courses
    choice session, where you will be able the select te courses you wish to teach for the main academic year
    (<strong>located on the second icon on the vertical red menu bar in the shape of a graduate hat, on the left side
    of the screen</strong>), assuming a choice session is opened.
  </p>
  These are the functions of some main buttons on that menu :
  <ul>
    <li><strong>CLEAR</strong> : empty your choice list, and save it as empty</li>
    <li><strong>SAVE</strong> : save your choices made until now, so you can continue on a further connection. This
      upadte your choices in your Recent Activities menu
    </li>
    <li><strong>SAVE & LOCK</strong> : save and closes permanently your current session ! No more choices or changes
      would be allowed after that !
    </li>
  </ul>
  Other features will soon and continually be released to enrich the services panel proposed to you on your
  self-service portal GALIO. <br>
  <strong>Sincerely !</strong>
</div>
