<div style="line-height: 1.5; max-width: 768px; width: 100%; margin: auto; text-align: justify">
  <h2 style="text-align: center; text-transform: uppercase">Confirmation de validation de la première phase du processus
    d’enregistrement</h2>
  <p>
    M. / Mme {{LASTNAME}} {{FIRSTNAME}} <br>
    <strong>Félicitation</strong>, vous avez terminé la première phase du processus d’enregistrement et nous vous
    remercions d’avoir mis à jour vos informations, votre implication dans ce processus permettra d’améliorer la qualité
    des services
    aux enseignants. Pour la suite de la procédure vous devez vous présenter <strong>au bureau des enseignants à la
    porte
    AB009</strong> afin de :
  </p>
  <strong>
    <ol>
      <li>Faire valider votre identité d’une part et activer votre compte d’autre part</li>
      <li>Enregistrer vos empreintes biométriques pour le système de pointage.</li>
      <li>Capturer votre démi-carte photo</li>
    </ol>
    <p>
      <strong>NB:</strong> Si vous aviez au préalable déjà complété complètement votre enregistrement, et que vous êtes
      dans une procédure de correction ou mise à jour de vos informations, veuillez vous adresser aux services des
      ressources humaines pour la réactivation complète de votre compte !!
    </p>
  </strong>
  Une fois la procédure de validation de votre compte terminée, vous pourrez accdéder aux autres fonctionnalités du
  portail, telles que les choix de cours, l'emploi du temps et plus encore. Un mail vous sera transmis pour vous
  informer l’état du traitement de votre dossier. <br>
  <strong>Cordialement !</strong>
  <br>
  <br>
  <hr>
  <h2 style="text-align: center; text-transform: uppercase">Confirmation of validation of the first step of the
    registration process</h2>
  <p>
    <strong>Congratulations</strong>, you have completed the first step of the registration process
    and we thank you for updating your information. Your involvement in this process will help improve the quality
    of services to teachers. For the next you must go <strong>to the teachers' office at door AB009</strong> in order to
    :
  </p>
  <strong>
    <ol>
      <li>Validate your identity and activate your account</li>
      <li>Register your biometric fingerprints for the time and attendance system.</li>
      <li>Capture your photo card</li>
    </ol>
    <p>
      <strong>NB:</strong> If you had already previously fully completed your registration process, and you are just
      correcting or updating your information, please contact the human resources service for the full reactivation
      of your account !!
    </p>
  </strong>
  Once the validation process of your account is completed, you will be able to make your course choices and submit
  them before the deadline prescribed by the administration. An email will be sent to you to inform you of the status
  of your file. <br>
  <strong>Sincerely !</strong>
</div>
