<div style="line-height: 1.5; max-width: 768px; width: 100%; margin: auto; text-align: justify">
  <h2 style="text-align: center; text-transform: uppercase">CONFIRMATION DE CLOTURE DE VOTRE SESSION DE CHOIX DE
    COURS</h2>
  <p>Vous venez de clôturer votre session de choix de cours
    <strong>{{DESIGNATION}}</strong>. Vous ne pouvez plus modifier cette liste.
  </p>
  <p>Nous vous remercions de l’engagement que vous manifestez envers notre institut, et vos intentions seront prises
    en compte. Un comité siègera pour l’attribution des cours, et vous serez notifié des décisions qui vous
    concerneront à ce sujet, ainsi que de l’ouverture d’une autre session de choix.
  </p>
  <p>D’autres fonctionnalités sont disponibles pour diversifier les services qui vous sont proposés sur votre
    plateforme de self-service GALIO, telles que votre emploi dutemps, ou les requêtes. </p>
  <strong>Contact : </strong><a href="mailto:numerique.educatif@myiuc.com">numerique.educatif@myiuc.com</a>
  <br>
  <br>
  <hr>
  <h2 style="text-align: center; text-transform: uppercase">CONFIRMATION OF COURSES CHOICE SESSION CLOSURE</h2>
  <p>Vous venez de clôturer votre session de choix de cours
    You just close and lock your courses choices session
    {{DESIGNATION}}. You won’t be able anymore to modify this list.
  </p>
  <p>We’d like to thank you for the commitment you shiw to our institute, and your intentions will be taken in
    consideration. A comitee will stand for the courses affectation, and you will be notified of any decision taht
    concerns you on this subject, as well as the opening of another choice session.</p>
  <p>Other features are available to enrich the services panel proposed to you on your self-service portal GALIO,
    such as your weekly schedule, or the request workflow. </p>
  <strong>Contact : </strong><a href="mailto:numerique.educatif@myiuc.com">numerique.educatif@myiuc.com</a>
</div>
