<div dir="ltr" style="font-family: sans-serif">
  <div
    style="color:black;font-size:12pt;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;">
    M/
    Mme {{name}} &nbsp;
    <div><br aria-hidden="true">
    </div>
    <div>Sauf erreur de notre part nous avons constaté que vous n’avez pas achevé votre enregistrement sur la plateforme
      GALIO pour le compte de l’année académique 2023-2024. Cette étape est indispensable pour : la consolidation de
      votre dossier, la planification future de vos enseignements et la prise en charge de vos émoluments. &nbsp;
    </div>
    <div><br aria-hidden="true">
    </div>
    <div>Nous vous notifions qu’à compter du <b>15 Novembre 2023</b>, si vous n’avez pas clôturé votre inscription sur
      GALIO, nous devrons vous retirer de la liste du personnel de l’IUC. Cette action sera irréversible car pour
      assurer la continuité des enseignements et des services, vos différentes assignations seront réattribuées.
    </div>
    <div><br aria-hidden="true">
    </div>
    Cependant si vous rencontrez des difficultés dans ce processus, prière de vous présenter à la salle <i>AB 009 du
    campus de Logbessou</i> pour une assistance sur place, ou de nous expliquer votre souci par mail écrire à
    l’adresse <a href="mailto:numerique.educatif@myiuc.com" style="color:#0C64C0;">numerique.educatif@myiuc.com</a><br
    aria-hidden="true">
  </div>
  <div
    style="color:black;font-size:12pt;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;">
    <br aria-hidden="true">
  </div>
  <div
    style="color:black;font-size:12pt;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;">
    Cordialement
  </div>
  <div
    style="color:black;font-size:12pt;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;">
    <br aria-hidden="true">
  </div>
  <hr />
  <div
    style="color:black;font-size:12pt;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;">
    <br aria-hidden="true">
  </div>
  <div
    style="color:black;font-size:12pt;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;">
    Mr/Ms
    {{name}} &nbsp;
    <div><br aria-hidden="true">
    </div>
    <div>Unless we are mistaken, we have noticed that you have not yet completed your registration on the GALIO platform
      for the 2023-2024 academic year. This step is essential for: the consolidation of your file, the future planning
      of your teaching and the payment of your emoluments. &nbsp;
    </div>
    <div><br aria-hidden="true">
    </div>
    <div>Please be advised that as of<b> November 15th, 2023</b>, if you have not closed your registration on GALIO, we
      will have to remove you from the IUC staff list. This action will be irreversible, as to ensure continuity of
      teaching and services, your various assignments will be reassigned.
    </div>
    <div><br aria-hidden="true">
    </div>
    However, if you encounter any difficulties in this process, please come to room <i>AB 009 on the Logbessou
    campus</i> for on-site assistance, or explain your concern by e-mail to <a
    href="mailto:numerique.educatif@myiuc.com" style="color:#0C64C0;">numerique.educatif@myiuc.com</a><br
    aria-hidden="true">
  </div>
  <div
    style="color:black;font-size:12pt;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;">
    <br aria-hidden="true">
  </div>
  <div
    style="color:black;font-size:12pt;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;">
    Regards
  </div>
</div>;