	<div>
						<h1>Reçu de paiement</h1>
						<p>Nom de l'entreprise : <strong>Institut Universitaire de la Côte (IUC)</strong></p>
						<p>Date : ${}</p>
						<p>Matricule : ${candidate.MATRICULE?.toUpperCase()}</p>
						<p>Description : Concours académique</p>
						<p>Montant payé : ${candidate.transactionAmount} FCFA</p>
						<p>Compte : ${candidate.accountNumber}</p>
						<p>Transaction ID : ${candidate.orderNumber}</p>
						<!-- Ajoutez d'autres détails ici -->
					</div>