<div>
  <div style="max-width: 600px; margin: 0 auto; line-height: 1.5;">
    <h1>BIENVENUE SUR GALIO</h1>
    <div style="margin-top: 12px">
      Ce message vous est envoyé pour la validation de votre enrolement sur la plate-forme de services des
      enseignants de l'Institut Universitaire de la Côte <strong>(IUC)</strong>. Pour confirmer votre adresse
      mail et terminer cette procédure d'enrolement, veuillez cliquer sur le lien ci-après, ou le copier dans
      votre navigateur internet
    </div>
    <div style="margin-top: 12px">
      This message is sent to you because you just registered on the GALIO portal, the human resources portal
      ofinscription
      the Institut Universitaire de la Côte <strong>(IUC)</strong>. To confirm your email address and validate your
      registration process,
      please click on the link below (or copy it in your web browser)
    </div>
    <div style="margin-top: 12px">
      <a style="
 												display: block;
 												background: #6c63ff;
 												text-decoration: none;
 												color: white;
 												padding: 8px 0;
 												text-align: center;
 												margin: 12px 0 0;
 												border-radius: 4px;"
         href='{{redirectUrl}}email-confirmation?token={{token}}'>Cliquez ici pour vous connecter / Click here to
        connect </a>
      <br>
      Ou Copiez le lien ci-après dans votre navigateur/Or copy this link in your web browser:
      <br>
      {{redirectUrl}}email-confirmation?token={{token}}
    </div>

    <p>
      Vous paramètres de connexion à votre compte sont les suivants / Your connection credentials are the following:
      <br><br>
      <span style="margin-left: 16px">
 												Nom d'utilisateur/Username: <strong>VOTRE/YOUR EMPLOYEE_ID</strong><br>
 										</span>
      <span style="margin-left: 16px">
 												Mot de passe/Password: <strong>VOTRE/YOUR ADRESSE MAIL</strong>
 										</span>
    </p>

    <p>
      <strong>
        Ces liens ne seront plus valides si vous n'achevez pas cette étape dans les prochaines 24 heures !
      </strong>
    <div style="font-size: 12px; color: rgba(0,0,0,8); margin-top: 13px; text-align: center; font-style: italic">Ces
      identifiants sont personnels et privés. A ce titre, nous
      ne sommes responsables d'aucunes pertes de données ou ursupations d'identités dans le système. De même, tous
      comportements déviant
      s ur la plate-forme allant à l'encontre de la règlementation en vigeure prévue dans le cadre du respect de la loi
      pourraient être sujetes à des poursuites judiciaires
    </div>
    </p>

    <p>
      <strong>
        Theses links will not be valid anymore if you don't confirm via this email in the next 24 hours !
      </strong>
    <div style="font-size: 12px; color: rgba(0,0,0,8); margin-top: 13px; text-align: center; font-style: italic">Thess
      credentials are personnal and private. We are not responsible
      for any user date loss or usurpation in the system. Any suspicious or illegal behaviour on the platform, may be
      lead to legal proceedings
    </div>
    </p>
  </div>
</div>